.skip{
    position:absolute;
    top:-50px;
    background: #F0FFFF;
}

.skip:focus{
    position:absolute;
    top:20px;
}
img{
    max-height: 250px;
    border-radius: 10px;
}

.checked{
    border:#344966 5px solid;
}
p, h1,button{
    font-family: 'Times New Roman', Times, serif;
}
p, h1{
    font-size: 24px;
    color: #344966;
    background: #F0FFFF;
    border: #344966 double 10px;
    border-radius: 10px;
    padding:20px 5px 20px 5px;
    text-align: center;
    margin: 10px;
}
p{
    margin-left: 200px;
    margin-right: 200px;
}
button{
    border: #FF6B6B solid 5px;
    border-radius: 10px;
    color: #344966;
    background-color: #FFDBDB;
    padding: 10px;
    margin:10px;
    font-size: 24px;
    justify-items: center;
    display: inline;
}
.button{
    display: grid;
    justify-items: center;
}
body{
    background-color: #F0F4EF; 
    
}
h1{
    font-size: 40px;
}
.Descriptions{
    border: none;
    margin: 0px;
    padding: 0px;
    border-radius: 0px;
    color: #344966;
    background-color: #F0F4EF;
    max-width: 120px;
    justify-items: center;
    display: none;
}
.images{
    display: none;
}
.correct{
    border:#6ff180 solid 4px;
    border-radius: 10px;
}
.nexthid{
    display: none;
}
.next{
    display: grid;
    justify-items: center;
}

footer p{
    font-size: 18px;
    color: #344966;
    background: #F0FFFF;
    border: none;
    padding:5px ;
    text-align: center;
    margin: 10px;
}

.topBar{
    display: grid;
    grid-template-columns:  1fr 1fr;
    align-items: center;
    justify-items: center;
}

#turns, #score{
    color: #344966;
    border: none;
    font-size: 24px;
    padding: 10px;
    margin:10px;
    background-color: none;
    background-color: #F0F4EF;
}
.final{
    margin: none;
    padding: 0px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: none;
    background: #F0FFFF;
    color: #344966;
    font-size: 40px;
    text-align: center;
}
#final{
    font-size: 24px;  
}
#won{
    background: #F0FFFF;
    border: #344966 double 15px;
    border-radius: 10px;
    color: #344966;
    padding: 50px;
    margin:100px;
    justify-items: center;
    display: inline;
    position: absolute;
    left: 5%;
    right: 5%;
    top: 15%;
    z-index: 1;
}
.hidden{
    display: none;
} 
.in{
    background: #F0FFFF;
    border: none;
}
#in{
    background: #F0FFFF;
    border: #344966 double 15px;
    border-radius: 10px;
    margin: 20px;
}
.container{
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-items: center; 
    margin-left: 20px;
    margin-right:20px;
}
 
@media screen and (min-width: 1000px) {
    .container{
        display: grid;
        gap: 15px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-items: center; 
        margin-left: 20px;
        margin-right:20px;
    }
} 
